.video{
    align:"left";
    height:"100%";
    width:"33.33%";
    frameborder:"0";

}

.skillfinity{
    align:"middle";
    height:"100%"; 
    width:"33.3%;

}


align="right" align="top" height="50%" width="32.3%"